nav{
width: 1350px;
height: 92px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 120px 16px 120px;
}
nav .menu{
    width: 365px;
    height: 24px;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}
nav .btn{
    width: 132px;
    height: 25px;
    color: white;
    background-color: green;
}
/*#hero{
    text kivhabe imge er upoe nibo partechina
}*/
.box-container {
  max-width: 1350px;
  margin: auto;
  text-align: center;
}
.box h2 {
  font-size: 40px;
}
.cards {
  display: flex;
  gap: 16px;
}
.card {
  padding: 40px 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.card h3 {
  font-size: 20px;
  margin-bottom: 12px;
}

.card p {
  font-size: 16px;
}

