nav{
width: 1350px;
height: 92px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 120px 16px 120px;
}
nav .menu{
    width: 365px;
    height: 24px;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}
nav .btn{
    width: 132px;
    height: 25px;
    color: white;
    background-color: green;
}
/*#hero text gulo kivhabe image er upore nibo?*/
.box-container {
  max-width: 1350px;
  margin: auto;
  text-align: center;
}
.box h2 {
  font-size: 40px;
}
.cards {
  display: flex;
  gap: 16px;
}
.card {
  padding: 40px 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.card h3 {
  font-size: 20px;
  margin-bottom: 12px;
}

.card p {
  font-size: 16px;
}
.sbrain-container{
    display: flex;
    margin: 120px 120px;
    align-items: center;
}
.list-item{
    margin-top: 20px;
    list-style: circle;

}
.sbrain-texts{
    align-items: center;
}
.eaccess{
    margin: 80px 120px;
    padding: 80px 40px 80px 40px;
    text-align: center;
    background-color: rgba(255, 228, 196, 0.808);
    gap: 24;
}
.eaccess-button{
    width: 132px;
    height: 19px;
    color: white;
    justify-content: center;
}

