nav{
width: 1350px;
height: 92px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 120px 16px 120px;
}
nav .menu{
    width: 365px;
    height: 24px;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}
nav .btn{
    width: 132px;
    height: 25px;
    color: white;
    background-color: green;
}
#hero .hero-contant{
    height: 100vh;
    background-image: image(assets/hero-bg.png");
    background-size: cover;
    background-position: center;
position: relative;
}
